h1 {
	margin-top: 0;
}

.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 700px;
	background: #efefef;
	/* box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3); */
  }

  .input {
	position: absolute;
	opacity: 0;
  }

  .label {
	width: 100%;
	padding: 20px 30px;
	background: #e5e5e5;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	color: #7f7f7f;
	transition: background 0.1s, color 0.1s;
  }
  
  .label:hover {
	background: #d8d8d8;
  }
  
  .label:active {
	background: #ccc;
  }
  
  .input:focus + .label {
	box-shadow: inset 0px 0px 0px 3px #2aa1c0;
	z-index: 1;
  }
  
  .input:checked + .label {
	background: #fff;
	color: #000;
  }
  
  @media (min-width: 600px) {
	.label {
	  width: auto;
	}
  }

  .panel {
	display: none;
	padding: 20px 30px 30px;
	background: #fff;
	width: 100%;
  }
  
  @media (min-width: 600px) {
	.panel {
	  order: 99;
	}
  }
  
  .input:checked + .label + .panel {
	display: block;
  }
  
  .pure-button-disabled {
	  cursor: not-allowed;
	  pointer-events: all !important;
	}
	
	blockquote {
		margin: 0 auto;
		padding: .5em 1em;
		border-left: 5px solid #999;
	}
	blockquote:before {
		display: none;
	}
	blockquote:not(:first-of-type) {
		margin-top: .5em;
	}
	blockquote p {
		margin: 0;
		color: #555;
		font-size: 12pt;
		line-height: 1.4;
		font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
	}
	blockquote footer {
		margin-top: .5em;
		padding: 0;
		color: #777;
		font-size: 12pt;
		text-align: left;
		font-style: italic;
	}
	blockquote footer:before {
		content: '— ';
	}
	blockquote:nth-of-type(even) {
		text-align: right;
		border-left: none;
		border-right: 5px solid #999;
	}
	blockquote:nth-of-type(even) footer {
		text-align: right;
	}
	blockquote:nth-of-type(even) footer:before {
		content: '';
	}
	blockquote:nth-of-type(even) footer:after {
		content: ' —';
	}
	@element 'blockquote' and (min-width: 300px) {
		blockquote {
			padding: 1em 20% 1em 1em;
		}
		blockquote p {
			font-size: 14pt;
		}
		blockquote:nth-of-type(even) {
			padding: 1em 1em 1em 20%;
		}
	}

/* .tabe {
	color: #82fffc;
	background: #7447ff;
	font-weight: bold;
	border: 2px solid #82fffc;
	border-radius: 4px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.tabe:hover {
	color: #6837ff;
	background: #82fffc;
	border: 2px solid #6837ff;
}

.yeet {
	color: #6837ff;
	background: #82fffc;
	font-weight: bold;
	border: 2px solid #6837ff;
	border-radius: 4px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.yeet:hover {

	border: 2px solid #00ffff;
	color: #82fffc;
	background: #6837ff
}

.basic {
	color: #00FF7E;
	background: #000000;
	font-weight: bold;
	border: 2px solid #00FF7E;
	border-radius: 4px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.basic:hover {
	color: #000000;
	background: #00FF7E;
	border: 2px solid #00FF7E;
}

.explorer {
	color: #FF7B00;
	background: #000000;
	font-weight: bold;
	border: 2px solid #FF7B00;
	border-radius: 4px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.explorer:hover {
	color: #000000;
	background: #FF7B00;
	border: 2px solid #FF7B00;
}

.mercury {
	color: #e5335f;
	background: #000000;
	font-weight: bold;
	border: 2px solid #e5335f;
	border-radius: 4px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.mercury:hover {
	color: #000000;
	background: #e5335f;
	border: 2px solid #e5335f;
}

.gemini {
	color: #8191d4;
	background: #000000;
	font-weight: bold;
	border: 2px solid #8191d4;
	border-radius: 4px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.gemini:hover {
	color: #000000;
	background: #8191d4;
	border: 2px solid #8191d4;
}

.apollo {
	color: #cbb0d4;
	background: #000000;
	font-weight: bold;
	border: 2px solid #cbb0d4;
	border-radius: 4px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.apollo:hover {
	color: #000000;
	background: #cbb0d4;
	border: 2px solid #cbb0d4;
}

.prestige1 {
	color: #FFFFE5;
	background: #040041;
	border: 2px solid #04004A;
	font-weight: bold;
	border-radius: 4px;
	transition-duration: 0.2s;
	cursor: pointer;
}

.prestige1:hover {
	color: #FEFDFD;
	background: #3500DA;
} */