.tabe {
	color: #82fffc;
    background: #7447ff;
	font-weight: bold;
    border: 2px solid #63CC00;
	border-radius: 4px;
	transition-duration: 0.4s;
	cursor: pointer;
}
.tabe:hover {
    color: #6837ff;
    background: #82fffc;
}
